%nav.page-nav.navbar.navbar-default
  %div.page-content-wrapper
    .nav-tabs-content
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "main_tab", "data-toggle" => "tab", :href => "#main_tab", :role => "tab"} ГЛАВНАЯ
        %li{:role => "presentation"}
          %a{"aria-controls" => "service", "data-toggle" => "tab", :href => "#service", :role => "tab"} УСЛУГИ
        %li{:role => "presentation"}
          %a{"aria-controls" => "about", "data-toggle" => "tab", :href => "#about", :role => "tab"} О КОМПАНИИ
        %li{:role => "presentation"}
          %a{"aria-controls" => "contacts", "data-toggle" => "tab", :href => "#contacts", :role => "tab"} КОНТАКТЫ
    .tab-content
      #main_tab.tab-pane.active{:role => "tabpanel"}
        .row.welcome-block
          .col-xs-12
            %h2
              = t('ДОБРО ПОЖАЛОВАТЬ')
            %p
              Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст. Сделать это просто: нажмите
              «Редактировать текст» либо дважды нажмите на сам текст – и можете вставлять свое содержимое и задавать шрифт.
              Если хотите, его можно перетащить в любое место на странице. Это место отлично подходит, чтобы рассказать
              пользователям о себе.

        = render partial: 'services'

        .row.testimonials
          .col-xs-12
            %h2 ОТЗЫВЫ КЛИЕНТОВ
            .testimonial-1
              %p.content
                «Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
                Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам
                текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично
                подходит, чтобы рассказать пользователям немного о себе.»
              %span.author
                Иван Сидоров, Киев
            .testimonial-2
              %p.content
                «Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
                Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на сам
                текст – и можете вставлять свое содержимое и задавать шрифт. Это место отлично
                подходит, чтобы рассказать пользователям немного о себе.»
              %span.author
                Иван Сидоров, Киев
      #service.tab-pane{:role => "tabpanel"}
        .service-wrapper
          = render partial: 'services'
      #about.tab-pane{:role => "tabpanel"}
        %h2.text-left.title-content
          О КОМПАНИИ
        .image-content.relative
          %img{ atl: 'about company', src: image_path('about_company.jpg') }
          .left-shadow
          .right-shadow
        .text-content
          %p
            Это текст. Нажмите здесь, чтобы отредактировать его и добавить свой текст.
            Сделать это просто: нажмите «Редактировать текст» либо дважды нажмите на
            сам текст – и можете вставлять свое содержимое и задавать шрифт.
            Это место отлично подходит, чтобы рассказать пользователям о себе.
          %p
            Здесь замечательно будет смотреться длинный текст о вашей компании и тех услугах,
            которые вы предоставляете. Все это место можно использовать, чтобы более подробно
            описать вашу компанию. Расскажите о вашей команде и предоставляемых услугах.
            Расскажите посетителям историю о том, как вам в голову пришла идея для своего дела,
            и объясните, чем ваша компания лучше конкурентов. Сделайте так, чтобы ваша компания
            выделялась: покажите себя посетителям во всей красе.
          %p
            Шаблоны в компании Wix создаются с любовью, и из них потом получаются отличные веб-сайты.
            А возможно это только благодаря поддержке и отзывам, которые поступают от наших
            пользователей. В пункте «Инфо» раздела «Поддержка» содержится самая свежая информация
            о новых версиях и грядущих новинках. Зайдите на форум Wix и оставьте свой отзыв.
            Хотите, чтобы на ваш сайт пару штрихов добавил профессиональный дизайнер? На Wix
            Arena вам поможет один из профессионалов компании Wix. Кроме того, на форуме поддержки
            вы можете быстро получить ответ на любой вопрос. Чтобы оставаться в курсе всех событий
            на Wix, читайте наш блог. Среди прочего, мы публикуем там различные советы и просто прикольные вещи.
      #contacts.tab-pane{:role => "tabpanel"}
        .row
          .col-xs-12.col-sm-5
            %h2.text-left.title-content
              КОНТАКТЫ
            %p.padding-top
              Москва, Россия
              %br
              15035, ул. Балчуг, 7
            %p.padding-top
              info@mysite.com
              %br
              Тел.: +7 (495) 000 00 00
            .div.fb-contact
              %img{ alt: 'facebook', src: image_path('fb_transparent.png') }
              Нас можна найти на Фейсбуке
            .work-in-place
              %span.sub-title.bold
                МЫ РАБОТАЕМ В ГОРОДАХ
              %p.city-name Москва
              %p.city-name Санкт-Петербург
              %p.city-name Екатеринбург
              %p.city-name Новосибирск
          .col-xs-12.col-sm-7
            %h2.text-left.title-content
              НАПИШИТЕ НАМ
            = form_tag '/send_mail', remote: true do
              .flash_message.hidden
              .form-group
                = text_field_tag 'name', nil, class: 'form-control', type: 'text', placeholder: "Имя", required: true
              .form-group
                = email_field_tag 'email', nil, class: 'form-control', type: 'text', placeholder: "Email", required: true
              .form-group
                = text_field_tag 'topic', nil, class: 'form-control', type: 'text', placeholder: "Тема", required: true
              .form-group
                = text_area_tag 'message', nil, class: 'form-control', type: 'text', placeholder: "Сообщение", required: true
              .form-group.text-right
                %button.btn{ type: 'submit' }
                  Отправить

